.sidebar {
  width: 80px;
  background-color: #1E1E1E;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  gap: 2rem;
  border-right: 2px solid #2a2a2a;
  transition: width 0.3s ease;
  overflow: hidden;
}


.selection.large {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}

.selection.small {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.9rem;
  cursor: pointer;
}

.sidebar.expanded {
  width: 270px;
}


.sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
}

.sidebar-text{
  color: white;
  font-size: 1.2rem;
  white-space: nowrap;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar.expanded .sidebar-text {
  opacity: 1;
}

.sidebar-button {
  background: linear-gradient(135deg, #EDCA69 0%, #f2d06b 100%);
  border: none;
  border-radius: 50%;
  transition: transform 0.2s, box-shadow 0.2s;
}

.sidebar-button {
  width: 20px;
  height: 20px;
  margin-left: 30px;
}

.sidebar-button.large {
  width: 50px;
  height: 50px;
  margin-left: 15px;
}

.sidebar-button:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(237, 202, 105, 0.5);
}

.sidebar-button:active {
  transform: scale(0.95);
}
